<!-- Input genérico para avaliação dos campos do formulário -->
<!-- Garante que o campo esteja dentro de um formulário -->
<!-- Suas definições obrigam que o campo seja preenchido para que seja válido -->
<div class="form-group has-feedback" [class.has-success]="hasSuccess()" 
                        [class.has-error]="hasError()">
  <label class="control-label sr-only" for="inputSuccess"><i ></i> {{label}}</label>
  <!-- <input type="text" class="form-control" id="inputSuccess" name="address" required minlength="5" #input="ngModel" ngModel placeholder="Endereço" autocomplete="off"> Substituído pelo ng-content -->
  <ng-content></ng-content>
  <span class="help-block" *ngIf="showTip && hasSuccess()"><i class="fa fa-check"></i> Ok</span>
  <span class="help-block" *ngIf="showTip && hasError()"><i class="fa fa-remove"></i> {{errorMessage}}</span>
</div>